# Pandas for Data Exploration, Analysis, and Visualization

### WHO alcohol consumption data
* Article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/   
* Original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
* Files: drinks.csv (with additional 'continent' column)

In [28]:
import pandas as pd

### Reading Files

Read in the CSV file from a URL using the read_csv command in Pandas. This command varies based on the file type (for instance, it would be read_txt for a text file), but let's work with CSVs for now.

In [22]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv')

Check the Python type of the imported file

In [7]:
type(drinks)

pandas.core.frame.DataFrame

We see that *drinks* is a DataFrame object. You can think of this object holding the contents in a format similar to a sql table or an excel spreadsheet.

### Examining Data

Lets look at the various ways we can examine the contents inside *drinks*.

In [13]:
drinks                  # print the first 30 and last 30 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [ ]:
drinks.head()           # print the first 5 rows

In [ ]:
drinks.tail()           # print the last 5 rows

In [ ]:
drinks.describe()       # describe any numeric columns

In [12]:
drinks.info()           # concise summary

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       170 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 10.6+ KB

In [ ]:
drinks.columns          # get series of column names

In [ ]:
drinks.shape            # tuple of (#rows, #cols)

### Missing Values

*Find and count missing values in data*

In [23]:
drinks.isnull()         # DataFrame of booleans. Keep in mind that we're checking for cells that are empty.

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,True
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,True
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,True
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,True
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
...,...,...,...,...,...,...
163,False,False,False,False,False,False
164,False,False,False,False,False,False
165,False,False,False,False,False,False
166,False,False,False,False,False,False
167,False,False,False,False,False,False
168,False,False,False,False,False,False
169,False,False,False,False,False,False
170,False,False,False,False,False,False
171,False,False,False,False,False,False
172,False,False,False,False,False,False
173,False,False,False,False,False,False
174,False,False,False,False,False,True
175,False,False,False,False,False,False
176,False,False,False,False,False,False
177,False,False,False,False,False,False
178,False,False,False,False,False,False
179,False,False,False,False,False,False
180,False,False,False,False,False,False
181,False,False,False,False,False,False
182,False,False,False,False,False,False
183,False,False,False,False,False,False
184,False,False,False,False,False,True
185,False,False,False,False,False,False
186,False,False,False,False,False,False
187,False,False,False,False,False,False
188,False,False,False,False,False,False
189,False,False,False,False,False,False
190,False,False,False,False,False,False
191,False,False,False,False,False,False
192,False,False,False,False,False,False

In [17]:
drinks.isnull().sum()   # convert booleans to integers and add

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

Something seems off here. Why are all the missing values in the Continent column? It would be wise to go back and look at the data some more.

If we're convinced that the data is good to go, below are some methods we can use for addressing the missing values.

*Handling missing values*

In [ ]:
drinks.dropna()         # drop a row if ANY values are missing

In [ ]:
drinks.fillna(value='NA')   # fill in missing values

Now that we know what the problem was, let's reimport the data with a fix implemented.

In [18]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv', na_filter=False)

In [19]:
drinks.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

### Working with Data

*Selecting a column (also called a 'Series')*

In [ ]:
drinks['continent']
drinks.continent            # equivalent
type(drinks.continent)      # series is the Pandas equivalent of a Python list

*Summarizing a non-numeric column*

In [ ]:
drinks.continent.describe()
drinks.continent.value_counts()

*Selecting multiple columns*

In [ ]:
drinks[['country', 'beer_servings']]

Note the double square bracket. The outer pair is used like in a python dictionary to select the inner pair as a list.

So in all, the double use of square brackets is telling the dataframe to select a list.

Alternatively, you could just specify the list to begin with:

In [ ]:
my_cols = ['country', 'beer_servings']
drinks[my_cols]

*Add a new column as a function of existing columns*

In [26]:
drinks['total_servings'] = drinks.beer_servings + drinks.spirit_servings + drinks.wine_servings
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
1,Albania,89,132,54,4.9,EU,275
2,Algeria,25,0,14,0.7,AF,39
3,Andorra,245,138,312,12.4,EU,695
4,Angola,217,57,45,5.9,AF,319

### FIltering & Summarizing

*Logical filtering and sorting*

In [ ]:
drinks[drinks.continent=='EU']

How it works: drinks.continent=='EU' by itself would return a bunch of Trues and Falses

In [ ]:
drinks.continent=='EU'

See? When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

If you wanted the observations not in the EU, you would use:

In [ ]:
drinks[drinks.continent!='EU']

*More advanced filtering*

In [ ]:
# North American countries with total servings
drinks[['country', 'total_servings']][drinks.continent=='NA']

In [ ]:
# same thing, sorted by total_servings
drinks[['country', 'total_servings']][drinks.continent=='NA'].sort_index(by='total_servings')

In [ ]:
# contries with wine servings over 300 and total liters over 12
drinks[drinks.wine_servings > 300][drinks.total_litres_of_pure_alcohol > 12]

In [ ]:
# contries with more wine servings than beer servings
drinks[drinks.wine_servings > drinks.beer_servings]

In [ ]:
# last 5 elements of the dataframe sorted by beer servings
drinks.sort_index(by='beer_servings').tail()

In [ ]:
# average North American beer consumption
drinks.beer_servings[drinks.continent=='NA'].mean()

In [ ]:
# average European beer consumption
drinks.beer_servings[drinks.continent=='EU'].mean()

Note the logic:

drinks **< >** Dataframe

drinks.beer_servings **< >** one column (Series)

drinks.beer_servings[drinks.continent=='NA'] **< >** logical filtering

drinks.beer_servings[drinks.continent=='NA'].mean() **< >** mean of that filtered column

### Working with Categories (Split - Apply - Combine)

*For each continent, calculate mean beer servings*

In [ ]:
drinks.groupby('continent').beer_servings.mean()

*For each continent, count number of occurrences*

In [ ]:
drinks.groupby('continent').continent.count()

In [ ]:
drinks.continent.value_counts()

*For each continent, calculate the min, max, and range for total servings*

In [27]:
# for each continent, calculate the min, max, and range for total servings
drinks.groupby('continent').total_servings.min()

continent
AF    504
AS    646
EU    695
OC    545
SA    439
Name: total_servings, dtype: int64

In [ ]:
drinks.groupby('continent').total_servings.max()

We can also apply function across categories/groups, using .apply

*Calculate mean total servings for each continent*

In [ ]:
drinks.groupby('continent').total_servings.apply(lambda x: x.mean())    # mean

Note that 'x' here represents an entire series

*Calculate standard deviation of total servings for each continent*

In [ ]:
drinks.groupby('continent').total_servings.apply(lambda x: x.std())     # standard deviation

*What does this do?*

In [ ]:
drinks.groupby('continent').total_servings.apply(lambda x: x.max() - x.min())

## On to the Pandas Lab!

In [ ]:
Extra material:
'''
Plotting
'''

# bar plot of number of countries in each continent
drinks.continent.value_counts().plot(kind='bar', title='Countries per Continent')
plt.xlabel('Continent')
plt.ylabel('Count')
plt.show()

# bar plot of average number of beer servings by continent
drinks.groupby('continent').beer_servings.mean().plot(kind='bar')

# histogram of beer servings
drinks.beer_servings.hist(bins=20)

# grouped histogram of beer servings
drinks.beer_servings.hist(by=drinks.continent)

# stop and think, does this make sense

# same charts with the same scale for x and y axis
drinks.beer_servings.hist(by=drinks.continent, sharex=True, sharey=True)



# density plot of beer servings
drinks.beer_servings.plot(kind='density')

# same chart, with new x limit
drinks.beer_servings.plot(kind='density', xlim=(0,500))

# boxplot of beer servings by continent
drinks.boxplot(column='beer_servings', by='continent')

# scatterplot of beer servings versus wine servings
drinks.plot(x='beer_servings', y='wine_servings', kind='scatter', alpha=0.3)