# Pandas Lab

### Read in the CSV file from a URL

In [4]:
import pandas as pd

In [6]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv')

Are we forgetting something...?

### 1. Show the first 18 rows of drinks

In [7]:
drinks.head(19)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF

### 2. Create a variable called beer_servings and use it to store the beer_servings column

### 3. Display a dataframe where the only rows are those with continent North America

### 4. Create a new dataframe called north_america that holds your answer in 1.

*drinks (the original dataframe) should remain unchanged*

### 5.  What is the average wine consumption per person per year in Africa?

### 6.  Show a list of the top 10 spirit drinking countries.

### 7.  What is the average wine consumption in South America?

### 8.  Which continent has the highest on average wine consumption?